/*CONFIGURACIONES PARA NAVBAR Y FOOTER*/

.navbarcolor{
background-color: white;
}

.navtext{
    color: #ff9900;
}

.navtext a, .navbutton{
    color: #ff9900;
}

.lead-active{
font-weight: 500;
}

.custom-toggler.navbar-toggler { 
    border: 2px solid #ff9900;
} 

.wrapper{
    padding-top: 166px;
}

/*CONFIGURACION BREADCRUMB*/

.breadcrumbcolor{
  background-color: rgb(253, 244, 223);
  border: 4px double white;
}

/*CONFIGURACIONES DE LOGIN*/

.btn-ingresar{
  width: 150px;
}

.btn-aqui{
  width: 150px;
}

.container-login{
    width: 100%;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
}

.loginbgcontainer{
  max-height: 524px;
  opacity: 0.6;
}

.facebooklogin{
  background-color: rgb(83, 83, 255, 0.76);
  color: white;
  text-align: center;
  width: 280px;
  height: 30px;
  line-height: 30px;
  margin: 7px auto;
  border-radius: 5px;
}

.facebooklogin a{
  text-decoration: none;
  color: white;
}

.googlelogin{
  background-color: rgba(243, 42, 28, 0.76);
  color: white;
  text-align: center;
  width: 280px;
  height: 30px;
  line-height: 30px;
  margin: 7px auto;
  border-radius: 5px;
}

.googlelogin a{
  text-decoration: none;
  color: white;
}

.loginhover :hover{
  transition-duration: 0.5s;
  font-size: 110%;
}
/*CONFIGURACIONES DE MODAL CUSTOM*/

.modal-header-custom {
    text-align: center;
    padding: 1rem;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
  }

  .modal-header-custom i{
    color: #ff9900;
  }
  
  .modal-header-custom .close {
    background: #c0c3c8;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    text-shadow: none;
    opacity: 0.9;
    width: 22px;
    height: 22px;
    border-radius: 20px;
    font-size: 16px;
    margin-top: -2px;
  }
  
  .borde-modal{
      background-color: rgb(255, 255, 255);
      padding: 20px;
      border: 2px solid #ff9900;
      border-radius: 3%;
  }

/*CONFIGURACIONES DE FLIP CARD*/

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    text-align: cepnter;
    margin: 50px auto;

  }

  /* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side*/
  .flip-card-front {
    background-color: transparent;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-image: url("../img/Card-Background.png");
    background-size: 100%;
    background-color: whitesmoke;
    border-radius: 50%;
    color: black;
    transform: rotateY(180deg);
    box-shadow: 10px 10px 5px grey;
  }

.flip-card-back h1{
    vertical-align: middle;
    margin: 15% auto;
}

.flip-card-back p{
  vertical-align: middle;
  margin: 15% auto;
}

  .card-name{
      position: relative;
      bottom: -15px;
      margin-bottom: 5px;
  }

  .world-gif{
    width: 180px;
  }

/*CONFIGURACIONES GENERALES*/

.text-dark:hover{
  text-decoration: none;
}

/* CONFIGURACION PAGINA PRINCIPAL */
.paddingleft{
  padding-left: 5%;
}

.busqueda-lg{
  display: none;
}

.div-busqueda{
  display: flex;
}

/*CONFIGURACION SECCION NUEVA YORK*/


.text-black{
  color: black;
}

.jumbotron {
  padding: 1rem 2rem;
}

.centrar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-naranja{
  background-color: #ff9900;
}

.form-control-naranja:focus{
  border-color: #ff9900;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #ff9900;
}

.bg-naranja:hover{
  background-color: #ff9900;
}

.bg-naranja:focus{
  border-color: #ff9900;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #ff9900;
}

.bg-comments{
  background-color: rgba(218, 221, 226, 0.541);
}

.active-naranja{
  background-color: #ff9900;
}


.focus-naranja:focus{
  border-color: #ff9900;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #ff9900;
}

/*CONFIGURACION DE PAGINA DE CONTACTO*/
.color{
  background-color: #fff0dc;
  }

  .color2{
     background-color: #ffe1b9;
   }

  .bcolor{
  font-size: larger;
  color:#ff9900;
  }
  
  .card-header-custom{
    background-color: #f3f3f3;
  padding: 20px;
  }

  .card-header-custom a{
    text-decoration: none;
    color: #ff9900;
    font-size: 30px;
  }


/*CONFIGURACION GALERIA*/

  .fondo-libro{
    background-image: url(/img/hoja-vieja.jpg);
    background-size: cover;

  }

  .padding-libro{
    background-color: #fff;
    padding: 5px;
  }

  .margen-librotop{
    margin: 0px 0px 0px;
  }

  .margenlibro{
    background-image: url(/img/textura-libro-viejo.jpg);
    background-size: cover;
    padding: 0px 10px 10px 10px;
    border-radius: 10px;
  }

  .botonlib{
    border-radius: none;
  }

  .bcolorgaleria{
    background-color:#f5c57ce5;
    font-size: larger;
    color:#000000;
  }
  
  
/*MEDIA QUERIES*/

/*X-SMALL DEVICES PUBLICIDAD*/
@media all and (max-width:576px){
  .cardquery{
    margin-bottom: 25px;
  }

  .logofoot{
    margin-left: auto;
    margin-right: auto;
  }

  .card-header-custom{
    color: #ff9900;
    text-decoration: none;
    padding: 5px;
  }

  .card-header-custom a{
    text-decoration: none;
    color: #ff9900;
    font-size: 20px;
    padding: 10px;
  }

  .logohead{
    width: 80px;
    margin-left: 10px;
  }

  .public{
    display: none;
  }

  .wrapper{
    padding-top: 106px;
  }

  .paddingleft{
    padding-left: 15px;
  }
  
  .img-barco{
    width: 60px;
  }

  .p-comments-sm{
    padding: 0px;
  }
}

/*SMALL DEVICES*/
@media all and (min-width:576px) and (max-width:768px){


  .logofoot{
    margin-left: auto;
    margin-right: auto;
  }

  .cardquery{
    margin-bottom: 25px;
  }

  .card-header-custom{
    color: #ff9900;
    text-decoration: none;
    padding: 10px;
  }

  .card-header-custom a{
    text-decoration: none;
    color: #ff9900;
    font-size: 20px;
    padding: 10px;
  }

  .logohead{
    width: 140px;
    margin-left: 60px;
  }
}

/*MEDIUM DEVICES*/
@media all and (min-width: 768px) and (max-width:991px){
  .logofoot{
    margin-left: auto;
    margin-right: auto;
  }

  .cardquery{
    margin-bottom: 25px;
  }

  .card-header-custom{
    color: #ff9900;
    text-decoration: none;
    padding: 10px;
  }

  .card-header-custom a{
    text-decoration: none;
    color: #ff9900;
    font-size: 30px;
    padding: 10px;
  }

  .logohead{
    width: 140px;
    margin-left: 60px;
  }
}

/*LARGE DEVICES*/
  @media all and (min-width: 991px){
  .logofoot{
    margin-left: 60px;
  }

  .logohead{
    width: 140px;
    margin-left: 60px;
  }
}

/*XTRA LARGE DEVICES*/
  @media all and (min-width: 1200px){
  .busqueda-lg{
    display: inline-block;
  }

  .busqueda-sm{
    display: none;
  }
} 